{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Requerimento de Informações{% endblock %}
{% block content %}
<div class="container mt-4">
    <h2 class="mb-4 text-light bg-dark p-3 rounded text-center">Requerimento de Informações</h2>
    <div class="bg-light p-4 rounded shadow">
        <form method="post" class="text-dark">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
