{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Resposta ao Recurso em 1ª Instância{% endblock %}
{% block content %}
<h3 class="mb-4 text-light bg-dark p-3 rounded text-center">Resposta ao Recurso em 1ª Instância</h3>
<div class="row">
    <div class="col-md-8 mx-auto mb-8">
        <div class="card bg-secondary text-white">
            <div class="card-header bg-primary">
                <h4><strong><a href="{% url 'detalhes_ped_info' ped_info.id %}" style="color: white;">Pedido de Informação nº {{ped_info.num_registro}}/{{ped_info.data_pedido|date:'Y'}}</a></strong></h4>
            </div>
            <div class="card-body">
                <p><strong>Data do Recurso:</strong> {{ped_info.data_recurso_1}}</p>
                <p><strong>Recurso:</strong> {{ped_info.recurso_1}}</p>
                <p><strong>Situação:</strong> {{ped_info.get_situacao_display}}</p>                
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">
    <div class="bg-light p-4 rounded shadow">
        <form method="post" class="text-dark">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="text-center mt-3">
                <button type="submit" class="btn btn-primary">Responder</button>
            </div>
        </form>
    </div>
</div>
<br
{% endblock %}